.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn:disabled {
    color: #007bff;
}

.btn, .btn:hover, .btn:active, .btn:focus {
    text-decoration: none;
}

span {
    display: flex;
    align-items: center;
}

.add-task-container {
    display: Flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(0,0,0,.125); 
}

.add-task-container:focus-within {
    border-bottom: 1px solid #007bff; 
}

.input-add-task {
    display: inline-flex;
    border: none;
    flex: 1;
    padding: 10px 0;
}

.input-add-task::placeholder {
    color: #007bff;
}

.input-add-task:focus {
    border: none;
    outline: none;
}

.input-add-task:focus::placeholder {
    color: #000
}

.fade-enter {
    opacity: 0;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 100ms ease-in;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
    transition: opacity 100ms ease-in;
}

